.row-fluid
  .span2
    %ul.nav.nav-tabs.nav-stacked
      %li= link_to "General info", "#"
      %li= link_to "Music", "#music"
  .span10
    %h1= @composer.full_name

    %p
      = link_to 'Edit', edit_composer_path(@composer)
      = link_to 'Back', composers_path

    %p= @composer.description

    %dl
      %dt Full name
      %dd= @composer.full_name
      %dt English name
      %dd= @composer.english_name
      %dt Short name
      %dd= @composer.short_name
      %dt Born on
      %dd= @composer.date_born
      %dt Died on
      %dd= @composer.date_died

    %h2 Music
    %a{:name => "music"}
