.row-fluid
  .span2
    %ul.nav.nav-tabs.nav-stacked
      %li= link_to "General info", "#"
      %li= link_to "Music", "#music"
  .span6
    %h1= @composer.full_name

    %p
      = link_to 'Edit', edit_composer_path(@composer)
      = link_to 'Back', composers_path

    %p= @composer.description

    %dl
      - unless @composer.english_name.nil?
        %dt English name
        %dd= @composer.english_name
      - unless @composer.short_name.nil?
        %dt Short name
        %dd= @composer.short_name
      %dt Born on
      %dd= @composer.date_born || 'Unknown'
      %dt Died on
      %dd= @composer.date_died || 'Unknown'

    %h2 Music
    %a{:name => "music"}
